<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registro conductor</title>
</head>
<body>


    <div>
        <h1> Registro conductor</h1>
    </div>

    <div id="formulario">
            <form method="POST" action="">

                
                <span> Cedula</span>
                <input type="text" name="Cedula">
                    
                <br>
                <br>
                <span> Nombre</span>
                <input type="text" name="Nombre">
                <br>
                <br>
                
                <span> Direccion</span>
                <input type="text" name="Direccion">

                <br>
                <br>
                
                <span> Email</span>
                <input type="text" name="Email">
                
                <br>
                <br>
                
                <span> Fecha de nacimiento</span>
                <input type="date" id="birthday" name="trip-start"
                value="2021-01-01"
                min="1920-01-01" max="2025-12-31">
                
                <br>
                <br>
                
                <span> Propietario</span>
                <input type="checkbox" name="Propietario">
                
                <br>
                <br>
                
                <span> Tipo de vehiculo</span>
                <select id="tipo" name="tipo">
                    <option value="Particular">Particular</option>
                    <option value="Publico">Publico</option>
                </select>
                
                <br>
                <br>
                <input type="submit" name="button">
        </form>
    </div>
    
</body>
</html>