<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Actualizar conductor {{conductor[1]}}</title>
    <style>
        h1{
            color:green; 
        }
    </style>
</head>
<body>

    {% if e %}
    <div id="Error" style="background-color: indianred; padding-right: 100px; padding-left: 400px;">
        <h3> {{ error }} </h3>
    </div>
    {% endif %}
    
    {% for conductor in conductor %}
    <div>
        <h1>Actualizar conductor {{ conductor[1] }} </h1>
        
        <ul>    
            <li> <a href="http://localhost:5000/">Insertar</a></li>
            <li> <a href="http://localhost:5000/consultar">Consultar</a></li>
        </ul>
        
    </div>
    {% endfor %}
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.2/p5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.2/addons/p5.dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.2/addons/p5.sound.min.js"></script>
<script src='p5.js'></script>


<script>

    var drawing = [];
    var current_path = [];

    function setup() {

        canvas = createCanvas(400, 280);
        canvas.mousePressed(startPath);
        canvas.position(300, 80);
        //canvas.mouseReleased(endPath);

    }

    function startPath() {
        current_path = [];
        drawing.push(current_path);

    }

    //function endPath(){
    //  drawing.push(currentPath);
    //}

    function draw() {

        background(245);

        fill(255, 255, 255);
        strokeWeight(4);
        text("Firma", 185, 15);


        fill(235, 230, 235);
        stroke(1);
        rect(295, 250, 95, 50);
        fill(255, 255, 255);
        strokeWeight(4);
        text("Reiniciar", 320, 275);

       

        if (mouseIsPressed) {
            var point = {
                x: mouseX,
                y: mouseY
            }

            if (mouseX >= 290 && mouseY >= 250) {
                
                drawing = [];
            } else {
                if(mouseX > 1){

                    current_path.push(point);
                }
            }

        }



        stroke(0);
        strokeWeight(6);
        //fill(255,255,255);
        noFill();

        for (var i = 0; i < drawing.length; i++) {
            var path = drawing[i];
            beginShape();
            for (var j = 0; j < path.length; j++) {
                vertex(path[j].x, path[j].y)
            }
            endShape();
        }
    }

    function Guardar(cc) {
        saveCanvas(canvas, "firma_"+cc+".jpg");
        
    }

    new p5(sketch, 'ss');

</script>


{% for conductor in conductor %}

    <div id="formulario">
            <form method="POST" action="" onsubmit="Guardar(CC.value)">

                <br>
                <span> Cedula</span>
                <input type="text" name="CC" value="{{conductor[2]}}">
                    
                <br>
                <br>
                <span> Nombre</span>
                <input type="text" name="Nombre" value="{{conductor[1]}}">
                <br>
                <br>
                
                <span> Direccion</span>
                <input type="text" name="Direccion" value="{{conductor[3]}}">

                <br>
                <br>
                
                <span> Email</span>
                <input type="text" name="Email" value="{{conductor[4]}}">
                
                <br>
                <br>
                
                <span> Fecha de nacimiento</span>
                <input type="date" id="birthday" name="fecha_cumple"
                value="{{conductor[7]}}"
                min="1920-01-01" max="2025-12-31">
                
                <br>
                <br>
                
                <span> Propietario</span>
                <select id="Propietario" name="Propietario" value="{{conductor[5]}}">
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
                
                <br>
                <br>
                
                <span> Tipo de vehiculo</span>
                <select id="tipo" name="tipo" value="{{conductor[6]}}">
                    <option value="Particular">Particular</option>
                    <option value="Publico">Publico</option>
                </select>
                
                <br>
                <br>
                <input type="submit" name="button" >
        </form>

        {% endfor %}
        
    </div>
    
</body>
</html>